@keyframes flipInX {
  from {
    transform: perspective(400px) rotateX(90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotateX(-20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotateX(10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotateX(-5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInX {
  animation-name: flipInX;
}

.animate {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.linklogo{
  height: 5vmin;
}

.project{
  background-color: rgb(71, 136, 158);
  border-radius: 50px;
}