/* 
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(250px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(250px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-250px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}


.fadeInRight {
  animation-name: fadeInRight;
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

.animate {
  animation-duration: 1s;
  animation-fill-mode: both;
} */

/* .contant{
  padding-left: 75px;
} */

.hability {
  padding-left: 100px;
  /* display: flex; */
  /* flex-direction: column; */
}

.hability img {
  width: 3.2rem;
  margin: 5px;
}

@media(min-width : 960px) {
  .mypicxs {
    margin-top:-100px;
    width: 80vmin;
  }
}

@media(max-width : 960px) {
  .mypicxs {
    display: none;
  }
}

@media (max-width: 600px) {
  .contentxs {
    padding-right: 40px;
    /* padding: 0 16px; Adjust padding as needed */
  /* box-sizing: border-box; */
  }
}

@media(min-width : 960px) {
  .mypic {
    margin-top:-100px;
    width: 80vmin;
  }
}

@media(max-width : 960px) {
  .mypic {
    display: none;
  }
}