@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logoreact {
    animation: logo-spin infinite 20s linear;
  }
}

@media(min-width: 500px){
  .logoreact{
    height: 6vmin;
  }
}

@media(max-width: 500px){
  .logoreact{
    height: 5vmin;
    margin-top: 3px;
  }
}

.myweb{
  margin-top: 10px;
  height: 6vmin;
}

.logolinkedin{
  height: 6vmin;
}

.logogithub{
  height: 6vmin;
}

.logowp{
  height: 6vmin;
}

.logoinsta{
  height: 6vmin;
}

/* body {
  background-color: #2b2b2b;
  padding: 3rem 15rem;
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */